@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,400,400italic,700);

body {
	background: #fff;
	color: #455164;
	font: 15px "Open Sans", sans-serif;
	margin: 0;
	margin-bottom: 100px;
}
a {
	color: inherit;
}
a:hover,
a:focus {
	color: inherit;
	text-decoration: none;
	outline: 0;
}
h2 {
	font-size: 32px;
	font-weight: 300;
}
p {
	line-height: 1.5;
}
li a,
p a {
	color: #84ce88;
	font-weight: bold;
}
li a:hover,
p a:hover {
	color: #77ca7b;
}
li {
	line-height: 1.5;
	margin: 6px 0;
}
code {
	background: #f5f5f5;
	border-radius: 3px;
	font-size: 0.9em;
	padding: 2px 4px;
}
pre {
	background: #f5f5f5;
	border-radius: 3px;
	font-size: 1em;
	line-height: 1.4;
	padding: 6px 10px;
	-moz-tab-size: 4;
	     tab-size: 4;
}
pre code {
	background: none;
	padding: 0;
}

img {
	max-width: 100%; /* Make sure images never go outside of their container */
}

.container {
	max-width: 750px;
	padding: 0 20px;
}
#nav {
	background: #455164;
	color: #bcc4d3;
}
#nav ul.nav-links {
	float: right;
	margin: 0;
	padding: 0;
}
#nav ul.nav-links li {
	float: left;
	list-style: none;
	margin: 0;
}
#nav input,
#nav button {
	background: transparent;
	border-radius: 0;
	-webkit-appearance: none;
	outline: none;
	border: 0;
}
#nav a,
#nav li button {
	display: inline-block;
	height: 50px;
	line-height: 50px;
	padding: 0 10px;
	font-weight: 700;
	color: inherit;
}
#nav a i.fa-2x {
	line-height: 50px;
}
#nav a:hover,
#nav button:hover {
	color: #fff;
}
#nav .logo {
	color: #fff;
	font-size: 22px;
	margin-left: -10px;
}
#nav .container {
	position: relative;
}
#nav .nav-search-overlay {
	position: absolute;
	width: calc(75% - 2 * 20px);
	top: 0;
	bottom: 0;
	right: 20px;
	background: #455164;
	opacity: 0;
	visibility: hidden;
	transition: opacity .2s, visibility .2s;
}
#nav .nav-search-overlay.opened {
	opacity: 1;
	visibility: visible;
}
#nav .search-input-group {
	position: relative;
	margin-top: 10px;
	height: 30px;
	width: 100%;
}
#nav .search-input-group button {
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
	height: 30px;
	text-align: center;
}
#nav .search-input-group input {
	border-bottom: 1px solid white;
	padding: 0;
	padding-right: 20px;
	width: calc(100% - 20px);
	height: 100%;
}

#nav .search-input-group input::-moz-placeholder {
	color: #bcc4d3;
	opacity: .5;
}

#nav .search-input-group input::-webkit-input-placeholder {
	color: #bcc4d3;
	opacity: .5;
}

#nav .search-input-group input:-ms-input-placeholder {
	color: #bcc4d3;
	opacity: .5;
}

#search-results {
	display: none;
}
#search-results ul {
	list-style: none;
	margin-left: 0;
	padding-left: 0;
}

#splash {
	background: #455164;
	color: #fff;
	text-align: center;
	padding-bottom: 50px;
}
#splash h1 {
	font-size: 40px;
	font-weight: 700;
	margin: 0;
}
#splash h2 {
	color: #bcc4d3;
	font-size: 18px;
	font-weight: 300;
	margin: 0;
}
#splash p {
	margin-top: 18px;
	color: #bcc4d3;
}
#splash .row {
	padding: 20px 0;
}
#splash .hgroup {
	margin: 60px 0;
}
#splash .card {
	background: #84ce88;
	border-radius: 3px;
	display: inline-block;
	padding: 15px;
	margin: 5px;
	min-width: 45%;
}
#splash .card strong {
	display: block;
	font-size: 17px;
	font-family: monospace;
}
#splash #stable_version,
#splash #prerelease_version {
	opacity: .7;
}
#splash #prerelease_card {
	display: none;
}
#features {
	padding: 50px 0 80px;
}
#features h2 {
	margin-bottom: 50px;
	text-align: center;
}
#features h3 {
	font-weight: 700;
}
#features .feature {
	padding-bottom: 20px;
}
#docs {
	padding-top: 40px;
}
#main p {
	margin-top: 0;
}
#main h1,
#main h2,
#main h3 {
	margin: 1.3em 0 .5em;
}
#main h1 {
	margin-top: 0;
	font-size: 2.5em;
}
#main h2 {
	font-size: 24px;
	font-weight: bold;
}
#main h3 {
	margin-bottom: 13px;
}
#menu,
#main .content {
	margin-bottom: 60px;
}
#menu {
	line-height: 2;
}
#menu a,
#menu strong {
	display: block;
}
#menu a:hover,
#menu a.active {
	color: #84ce88;
}
#menu a.active {
	font-weight: bold;
}
#menu strong {
	margin-top: 1em;
}
#menu strong:first-child {
	margin-top: 0;
}
#footer {
	color: #ccc;
	font-size: 12px;
}
#footer p {
	margin: 0;
}
#footer hr {
	margin: 0 15px 10px;
}
#share {
	text-align: right;
}
#share .twitter-share {
	display: inline-block;
	overflow: hidden;
	width: 88px;
	margin-right: 5px;
}
#share .github-stars {
	display: inline-block;
	overflow: hidden;
	width: 93px;
}

@media (max-width: 768px) {
	body {
		margin-bottom: 60px;
	}
	#splash h1 {
		font-size: 22px;
	}
	#splash h2 {
		font-size: 16px;
	}
	#features .feature {
		text-align: center;
		margin: 0 auto;
		max-width: 320px;
	}
	#footer,
	#share {
		text-align: center;
	}
	#share {
		padding-top: 10px;
	}
}
@media (max-width: 480px) {
	#nav .right a:first-child {
		display: none;
	}
	#splash .row {
		padding-top: 0;
	}
}

.alert {
	padding: 15px;
	margin-bottom: 20px;
	border: 1px solid transparent;
	border-radius: 4px;
}
.alert-info {
	color: #31708f;
	background-color: #d9edf7;
	border-color: #bce8f1;
}
.alert-warning {
	color: #8a6d3b;
	background-color: #fcf8e3;
	border-color: #faebcc;
}
.alert-danger {
	color: #a94442;
	background-color: #f2dede;
	border-color: #ebccd1;
}
.alert p:last-child {
	margin-bottom: 0;
}

h2 a.link-anchor,
h3 a.link-anchor {
	opacity: 0;
	transition: opacity .2s;
}

h2:hover a.link-anchor,
h3:hover a.link-anchor {
	opacity: .7;
}

a.link-anchor {
	padding-right: 25px;
	position: absolute;
	margin-left: -25px;
}

.app-stores {
	text-align: center;
}
.app-stores a {
	display: inline-block;
	height: 50px;
	padding-left: 10px;
	padding-right: 10px;
}
.app-stores a img {
	max-height: 100%;
	max-width: 100%;
}

/* "Edit on GitHub" button */

.edit-page-btn {
	float: right;
	margin-top: 20px;
	line-height: 60px;
	font-size: .9em;
}

/* Terminal windows-style, to present CLI outputs and such */

.terminal {
	background-color: black;
	border-radius: 5px;
	color: #c7c7c7;
	font-family: monospace;
	margin-bottom: 20px;
	margin-top: 20px;
	padding: 10px;
}

.terminal-log-info::before {
	color: #757575;
	content: "2017-12-08 12:34:56 ";
}

.terminal-log-info::after {
	color: #4565fd;
	content: "[INFO]";
}

.terminal-green {
	color: #05ba00;
}

.terminal-bold {
	color: white;
	font-weight: bold;
}
