<!doctype html>
<html>
	<head>

	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, user-scalable=no">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">

	<title>{% if page.title %}{{ page.title }} · {% endif %}{{ site.title }}</title>
	<meta name="description" content="{{ site.description }}">

	<link rel="stylesheet" href="{{ site.baseurl }}/css/bootstrap.css">
	<link rel="stylesheet" href="{{ site.baseurl }}/css/font-awesome.min.css">
	<link rel="stylesheet" href="{{ site.baseurl }}/css/style.css">

	<link rel="shortcut icon" href="/img/favicon.png">
	<link href="/img/apple-touch-icon-120x120.png" rel="apple-touch-icon" sizes="120x120">

	</head>
	<body>

	<nav id="nav">
		<div class="container">
			<a href="/" class="logo">The Lounge</a>
			<ul class="nav-links">
				<li><a href="/docs">Documentation</a></li>
				<li><a href="https://github.com/thelounge" class="GitHub Organization for The Lounge">
					<i class="fa fa-github fa-2x" aria-hidden="true"></i>
				</a></li>
				<li>
					<form class="search" action="/search.html" method="get">
						<div>
							<input id="search-input" name="search" type="search" placeholder="Search" autocomplete="off" autocapitalize="off" spellcheck="false">
						</div>
						<button id="search-btn">
							<i class="fa fa-search fa-lg" aria-hidden="true"></i>
						</button>
					</form>
				</li>
			</ul>
		</div>
	</nav>

	<div id="search-results"></div>

	<div id="content">
		{{ content }}
	</div>
	<footer id="footer">
		<div class="container">
			<div class="row">
				<hr>
				<div class="col-sm-6">
					<p>The Lounge &mdash; Self-hosted web IRC client</p>
				</div>
				<div id="share" class="col-sm-6">
					<span class="twitter-share">
						<a href="https://twitter.com/share" class="twitter-share-button" data-url="https://thelounge.chat/" data-text="The Lounge — Self-hosted web IRC client:">Tweet</a>
						<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
					</span>
					<span class="github-stars">
						<iframe src="https://ghbtns.com/github-btn.html?user=thelounge&repo=thelounge&type=watch&count=true" allowtransparency="true" frameborder="0" scrolling="0" width="110" height="20"></iframe>
					</span>
				</div>
			</div>
		</div>
	</footer>

	<script src="/js/jquery.min.js"></script>
	<script src="/js/main.js"></script>
	<script>
	  window.store = {
	    {% for document in site.documents %}
	      "{{ document.url | slugify }}": {
	        "title": "{{ document.title | xml_escape }}",
	        "category": "{{ document.category | xml_escape }}",
	        "content": {{ document.content | strip_html | strip_newlines | jsonify }},
	        "url": "{{ document.url | xml_escape }}"
	      }
	      {% unless forloop.last %},{% endunless %}
	    {% endfor %}
	  };
	</script>
	<script src="/js/lunr.min.js"></script>
	<script src="/js/search.js"></script>

	</body>
</html>
