<!DOCTYPE html>
<html lang="en">
	<head>

	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<title>{% if page.title %}{{ page.title }} — {% endif %}{{ site.title }}</title>
	<meta name="description" content="{% if page.description %}{{ page.description }}…{% endif %} {{ site.description }}">
	<meta name="theme-color" content="#415364">
	<meta property="twitter:card" content="summary">
	<meta property="og:type" content="website">
	<meta property="og:site_name" content="The Lounge">
	<meta property="og:locale" content="en_US">
	<meta property="og:title" content="{% if page.title %}{{ page.title }} — {% endif %}{{ site.title }}">
	<meta property="og:description" content="{% if page.description %}{{ page.description }}{% else %}{{ site.description }}{% endif %}">
	<meta property="og:image" content="https://thelounge.chat/img/meta_image.png">

	{% if page.url != "/404.html" %}<link rel="canonical" href="{{ site.url }}{{ page.url }}">{% endif %}

	<link rel="stylesheet" href="/css/bootstrap.min.css">
	<link rel="stylesheet" href="/css/style.css">

	</head>
	<body>

	<nav id="nav">
		<div class="container">
			<a href="/" class="logo">
				<img alt="The Lounge" src="/assets/logos/logo/TL_White&Yellow_Horizontal_logotype_Transparent_Bg/TL_White&Yellow_Horizontal_logotype_Transparent_Bg.svg">
			</a>

			<ul class="nav-links">
				<li class="hidden-xs">
					<a href="/docs" {% if page.url contains "/docs" %}class="active"{% endif %}>Docs</a>
				</li>
				<li class="hidden-xs">
					<a href="https://www.npmjs.com/search?q=keywords%3Athelounge-plugin">Plugins</a>
				</li>
				<li class="hidden-xs">
					<a href="https://www.npmjs.com/search?q=keywords%3Athelounge-theme">Themes</a>
				</li>
				<li class="hidden-xs">
					<a href="/community" {% if page.url == "/community" %}class="active"{% endif %}>Community</a>
				</li>
				<li><a href="https://github.com/thelounge" title="GitHub Organization for The Lounge">
					<svg class="svg-inline svg-inline-large" viewBox="0 0 16 16" version="1.1" aria-hidden="true"><path fill="currentColor" fill-rule="evenodd" d="M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59.4.07.55-.17.55-.38 0-.19-.01-.82-.01-1.49-2.01.37-2.53-.49-2.69-.94-.09-.23-.48-.94-.82-1.13-.28-.15-.68-.52-.01-.53.63-.01 1.08.58 1.23.82.72 1.21 1.87.87 2.33.66.07-.52.28-.87.51-1.07-1.78-.2-3.64-.89-3.64-3.95 0-.87.31-1.59.82-2.15-.08-.2-.36-1.02.08-2.12 0 0 .67-.21 2.2.82.64-.18 1.32-.27 2-.27.68 0 1.36.09 2 .27 1.53-1.04 2.2-.82 2.2-.82.44 1.1.16 1.92.08 2.12.51.56.82 1.27.82 2.15 0 3.07-1.87 3.75-3.65 3.95.29.25.54.73.54 1.48 0 1.07-.01 1.93-.01 2.2 0 .21.15.46.55.38A8.013 8.013 0 0 0 16 8c0-4.42-3.58-8-8-8z"></path></svg>
				</a></li>
				<li><a href="https://twitter.com/TheLoungeChat" title="@TheLoungeChat on Twitter">
					<svg class="svg-inline svg-inline-large" viewBox="0 0 512 512" aria-hidden="true"><path fill="currentColor" d="M459.37 151.716c.325 4.548.325 9.097.325 13.645 0 138.72-105.583 298.558-298.558 298.558-59.452 0-114.68-17.219-161.137-47.106 8.447.974 16.568 1.299 25.34 1.299 49.055 0 94.213-16.568 130.274-44.832-46.132-.975-84.792-31.188-98.112-72.772 6.498.974 12.995 1.624 19.818 1.624 9.421 0 18.843-1.3 27.614-3.573-48.081-9.747-84.143-51.98-84.143-102.985v-1.299c13.969 7.797 30.214 12.67 47.431 13.319-28.264-18.843-46.781-51.005-46.781-87.391 0-19.492 5.197-37.36 14.294-52.954 51.655 63.675 129.3 105.258 216.365 109.807-1.624-7.797-2.599-15.918-2.599-24.04 0-57.828 46.782-104.934 104.934-104.934 30.213 0 57.502 12.67 76.67 33.137 23.715-4.548 46.456-13.32 66.599-25.34-7.798 24.366-24.366 44.833-46.132 57.827 21.117-2.273 41.584-8.122 60.426-16.243-14.292 20.791-32.161 39.308-52.628 54.253z"></path></svg>
				</a></li>
				<li>
					<button id="search-btn" title="Search this website" aria-controls="search-overlay">
						<svg class="svg-inline svg-inline-large" viewBox="0 0 512 512" aria-hidden="true"><path fill="currentColor" d="M505 442.7L405.3 343c-4.5-4.5-10.6-7-17-7H372c27.6-35.3 44-79.7 44-128C416 93.1 322.9 0 208 0S0 93.1 0 208s93.1 208 208 208c48.3 0 92.7-16.4 128-44v16.3c0 6.4 2.5 12.5 7 17l99.7 99.7c9.4 9.4 24.6 9.4 33.9 0l28.3-28.3c9.4-9.4 9.4-24.6.1-34zM208 336c-70.7 0-128-57.2-128-128 0-70.7 57.2-128 128-128 70.7 0 128 57.2 128 128 0 70.7-57.2 128-128 128z"></path></svg>
					</button>
				</li>
				<li class="hidden-sm hidden-md hidden-lg">
					<button id="menu-btn" title="Menu" aria-controls="mobile-menu" aria-expanded="false" aria-label="Toggle navigation">
						<svg class="svg-inline svg-inline-large" viewBox="0 0 448 512" aria-hidden="true"><path fill="currentColor" d="M16 132h416c8.837 0 16-7.163 16-16V76c0-8.837-7.163-16-16-16H16C7.163 60 0 67.163 0 76v40c0 8.837 7.163 16 16 16zm0 160h416c8.837 0 16-7.163 16-16v-40c0-8.837-7.163-16-16-16H16c-8.837 0-16 7.163-16 16v40c0 8.837 7.163 16 16 16zm0 160h416c8.837 0 16-7.163 16-16v-40c0-8.837-7.163-16-16-16H16c-8.837 0-16 7.163-16 16v40c0 8.837 7.163 16 16 16z"></path></svg>
					</button>
				</li>
			</ul>

			<div class="nav-search-overlay" id="search-overlay">
				<div class="search-input-group" role="search">
					<input id="search-input" name="search" type="search" placeholder="Search" autocomplete="off" aria-label="Search query">
					<button id="search-close-btn" title="Close this search field and clear results (Esc)" aria-keyshortcuts="Escape">
						<svg class="svg-inline" viewBox="0 0 352 512" aria-hidden="true"><path fill="currentColor" d="M242.72 256l100.07-100.07c12.28-12.28 12.28-32.19 0-44.48l-22.24-22.24c-12.28-12.28-32.19-12.28-44.48 0L176 189.28 75.93 89.21c-12.28-12.28-32.19-12.28-44.48 0L9.21 111.45c-12.28 12.28-12.28 32.19 0 44.48L109.28 256 9.21 356.07c-12.28 12.28-12.28 32.19 0 44.48l22.24 22.24c12.28 12.28 32.2 12.28 44.48 0L176 322.72l100.07 100.07c12.28 12.28 32.2 12.28 44.48 0l22.24-22.24c12.28-12.28 12.28-32.19 0-44.48L242.72 256z"></path></svg>
					</button>
				</div>
			</div>
		</div>
	</nav>

	<div id="search-results" class="container">
		<div id="results-placeholder"></div>
		<div id="accessible-search-summary" aria-live="assertive" class="sr-only"></div>
	</div>

	<div id="mobile-menu" class="hidden-sm hidden-md hidden-lg container">
		<ul class="menu">
			<li><a href="/" {% if page.url == "/" %}class="active"{% endif %}>Home</a></li>
			{% include menu.html %}
			<li><a href="https://www.npmjs.com/search?q=keywords%3Athelounge-theme">Themes</a></li>
			<li><a href="/community" {% if page.url == "/community" %}class="active"{% endif %}>Community</a></li>
		</ul>
	</div>

	<div id="content">
		{{ content }}
	</div>

	<footer id="footer">
		<div class="container">
			<div class="row">
				<hr>
				<div class="col-sm-12">
					<p><a href="https://github.com/thelounge/thelounge">The Lounge</a> is licensed under the <a href="https://github.com/thelounge/thelounge/blob/master/LICENSE" rel="license">MIT license</a></p>
					<p>This site is powered by <a href="https://www.netlify.com/">Netlify</a></p>
				</div>
			</div>
		</div>
	</footer>

	<script src="/js/jquery.min.js"></script>
	<script src="/js/lunr.min.js"></script>
	<script src="/js/main.js"></script>
	<script src="/js/search_data.js" async></script>

	</body>
</html>
