<!doctype html>
<html>
	<head>
	
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, user-scalable=no, minimal-ui">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	
	<title>{{ site.title }}</title>
	<meta name="description" content="{{ site.description }}">
	
	<link rel="stylesheet" href="/css/bootstrap.css">
	<link rel="stylesheet" href="/css/style.css">
	
	</head>
	<body>
	
	<div class="container">
		<nav id="nav">
			<div class="row">
				<div class="col-sm-4">
					<a href="/" class="logo">Shout</a>
				</div>
				<div class="col-sm-8 right">
					<a href="/">Documentation</a>
					<a href="http://github.com/erming/shout">GitHub</a>
				</div>
			</div>
		</nav>
		<div id="content">
			{{ content }}
		</div>
		<footer id="footer">
			<div class="row">
				<div class="col-sm-12">
					This is the footer..
				</div>
			</div>
		</footer>
	</div>
	
	</body>
</html>
